<p>Welcome librarian</p>
<a asp-controller="Dashboard" asp-action="ListBooks" class="btn btn-primary">List All Books</a>
<a asp-controller="Dashboard" asp-action="CreateBook" class="btn btn-primary">Add Books</a>


<a asp-controller="Dashboard" asp-action="ListReview" class="btn btn-primary">Reviews Of Books</a>