<p>Welcome Student</p>

<a asp-controller="Dashboard" asp-action="ListBooks" class="btn btn-primary">List All Books</a>

<a asp-controller="Dashboard" asp-action="ListReview" class="btn btn-primary">Reviews Of Books</a>

<a asp-controller="Dashboard" asp-action="BorrowedBooks" class="btn btn-primary">Borrowed Books</a>